
.center-items{
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: static; */
    /* align-content: center; */
}
.example-container {
    width:  130vw;
    height: 91vh;
    border: none;
  }

  /* .mat-drawer-content{
    align-content: center;
    justify-content: center;
    align-self: center;
    align-items: center;
  } */
  
  .example-sidenav-content {
    display: flex;
    align-items: left;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
    z-index: 100;
  }

  .text-field {
    width: 100%;
  }

  .add_button{
    position:fixed;
    bottom: 0;
    right: 0;
    margin-right: 50px;
    margin-bottom: 50px;
    transform: scale(1);
    background-color: #125699;
    color: white;
    z-index: 100;
  }

  .menu_button{
    position:absolute;
    top: 0;
    left: 0;
    margin-left: 20px;
    margin-top: 25px;
    transform: scale(1);
    background-color: #125699;
    color: white;
  }



.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  padding-left: 10px;
  padding-right: 10px;
}

.description{
  margin: 40px 20px 0px 30px;
  font-size: 10;
}

.content {
  display: flex;
  margin: 30px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

.spacer {
  flex: 1;
}

.appbar_buttons button{
  color: white;
  background-color: #DD0031;
  padding: 5px 25px;
  margin: 20px 10px;
  border-width: 0px;
  border-radius: 10px;
  
  }

.appbar_buttons button:hover{
  color: black;
  background-color: lightblue;
  }

.product-table{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
  /* max-width: 800px; */
}

.product-table mat-card, mat-paginator{
  background-color: #f3fdfe;
}


.action-buttons{
  margin-left: 15px;
  float: center;
}

.responsive-table mat-header-cell, mat-cell{
  text-align: center;
  justify-content: center;
  font-size: 12px;
}



.responsive-table mat-cell{
  background-color: #a4c1dd;
}

.responsive-table mat-header-cell{
  align-self: center;
  justify-content: center;
  background-color: #305981;
  color: white;
}

.pagination{
  width: 100%;
  right:-1px;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
}
.pagination-button{
  margin: 20px;
  min-width: 100px;
  min-height: 30px;
  border: none;
  border-radius: 5px;
  background-color: lightblue;
}

.pagination-button span{
  align-items: center;
  align-content: center;
  justify-content: center;
  line-height: normal;

}

.pagination-button:hover{
  background-color: #a4c1dd;
  cursor: pointer;
}

.pages{
  margin-inline: 10px;
}

.pages:hover{
  cursor: pointer;
  color: lightblue;
}

@media all and (max-width: 300px)  {  
  body  { font-size:0.6em;  } 
  h2    { font-size:0.8em;  }
}

@media all and (max-width: 390px)  {  
  body  { font-size:0.6em;  } 
  h2    { font-size:0.8em;  }
}

/* @media all and (max-width: 400px)  {  
  body  { font-size:0.8em;  } 
  h2    { font-size:0.8em;  }
}
@media all and (max-width: 500px)  {  
  body  { font-size:1.0em;  } 
}
@media all and (max-width: 600px)  {  
  body  { font-size:1.2em;  } 
} */

/* @media all and (max-width: 700px)  {  
  body  { font-size:1.4em;  } 
}
@media all and (max-width: 800px)  {  
  body  { font-size:1.6em;  } 
}
@media all and (max-width: 900px)  {  
  body  { font-size:1.8em;  } 
}
@media all and (max-width: 1000px) {  
  body  { font-size:2.0em;  } 
}
@media all and (max-width: 1100px) {  
  body  { font-size:2.2em;  } 
}
@media all and (max-width: 1200px) {  
  body  { font-size:2.4em;  } 
}
@media all and (max-width: 1300px) {  
  body  { font-size:2.6em;  } 
}
@media all and (max-width: 1400px) {  
  body  { font-size:2.8em;  } 
}
@media all and (max-width: 1500px) {  
  body  { font-size:3.0em;  } 
}
@media all and (max-width: 1500px) {  
  body  { font-size:3.2em;  } 
}
@media all and (max-width: 1600px) {  
  body  { font-size:3.4em;  } 
}
@media all and (max-width: 1700px) {  
  body  { font-size:3.6em;  } 
} */




